{% extends 'base.html.twig' %}

{% block title %}Eaten Meals{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{ 'page.eatenMeal.name'|trans({}, 'page') }}</th>
                                <th scope="col">{{ 'page.eatenMeal.calories'|trans({}, 'page') }}</th>
                                <th scope="col">{{ 'page.eatenMeal.username'|trans({}, 'page') }}</th>
                                <th scope="col">{{ 'page.eatenMeal.createdAt'|trans({}, 'page') }}</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for meal in meals %}
                                <tr>
                                    <td>{{ meal.id }}</td>
                                    <td>{{ meal.meal.name }}</td>
                                    <td>{{ meal.meal.calories }}</td>
                                    <td>{{ meal.user.name }}</td>
                                    <td>{{ meal.createdAt|date('d.m.Y') }}</td>
                                    <td>
                                        <button class="btn btn-outline-danger" data-bs-target="#Modal{{ meal.id }}"
                                                data-bs-toggle="modal">Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-grid gap-2">
                            <a href="{{ path('app_eatenMeal_add') }}" class="btn btn-outline-primary">Add meal</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for eatenMeal in meals %}
        {% include 'form/modal/delete.html.twig' with {
            id: eatenMeal.id,
            headline: 'modal.eatenMeal.delete.headline'|trans({}, 'modals'),
            text: 'modal.eatenMeal.delete.text'|trans({'%mealName%': eatenMeal.meal.name }, 'modals'),
            confirmButtonText: 'modal.eatenMeal.delete.confirm'|trans({}, 'modals'),
            closeText: 'modal.eatenMeal.delete.close'|trans({}, 'modals'),
            confirmUrl: path('app_eatenMeal_delete', {id: eatenMeal.id})
        } %}
    {% endfor %}
{% endblock %}
