{% extends 'base.html.twig' %}

{% block title %}Meal{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 mb-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h1>{{ meal.name }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                <div class="card shadow-lg mb-3">
                    <img src="{% if meal.imageFilename %}{{ asset('uploads/meals/' ~ meal.imageFilename) }}{% else %}{{ asset('build/../uploads/meals/notfound.jpg') }}{% endif %}"
                         class="card-img-top meal-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ meal.name }}
                            {% if meal.public %}
                                <span class="badge text-bg-success float-end">Public</span>
                            {% else %}
                                <span class="badge text-bg-danger float-end">Private</span>
                            {% endif %}
                        </h5>

                        <p class="card-text">Calories: {{ meal.calories }}</p>
                        <p class="card-text">from: {{ meal.user.name }}</p>
                        {% if meal.user.id == app.user.id %}
                            <div class="btn-group btn-group-lg d-flex" role="group"
                                 aria-label="Large button group">
                                <a href="{{ path('app_meal_edit', {'id': meal.id}) }}"
                                   class="btn btn-outline-primary">Edit</a>
                                <a href="{{ path('app_meal_delete', {'id': meal.id}) }}"
                                   class="btn btn-outline-danger">Remove</a>
                            </div>
                        {% endif %}
                        <div class="d-grid">
                            <a href="{{ path('app_meal_index') }}" class="btn btn-outline-secondary mt-2">Back to
                                list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
