<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Welcome!
        {% endblock %}
    </title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ path('app_dashboard') }}">StayFit</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarTogglerDemo01">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get("_route") == 'app_dashboard' ? 'active' }}"
                       aria-current="page" href="{{ path('app_dashboard') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get("_route") == 'app_user_edit' ? 'active' }}"
                       href="{{ path('app_user_edit') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get("_route") == 'app_faq' ? 'active' }}"
                       href="{{ path('app_faq') }}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Recipes</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="order-3 m-1 btn {{ app.request.attributes.get("_route") == 'app_user_edit' ? 'btn-primary' : 'btn-outline-primary' }}"
                           type="button" href="{{ path('app_user_edit') }}">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="order-3 m-1 btn btn-outline-secondary" type="button" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="order-3 m-1 btn btn-outline-secondary" type="button" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="order-3 m-1 btn btn-outline-secondary" type="button"
                           href="{{ path('app_register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
     style="max-width: 300px">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get("_route") == 'app_dashboard' ? 'active' }}"
                   aria-current="page" href="{{ path('app_dashboard') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get("_route") == 'app_user_edit' ? 'active' }}"
                   href="{{ path('app_user_edit') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get("_route") == 'app_faq' ? 'active' }}"
                   href="{{ path('app_faq') }}">FAQ</a>
                {#                <a class="nav-link{% if app.request.attributes.get("_route") starts with 'app_user' %}" href="{{ path('app_faq') }}">FAQ</a> #}
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Recipes</a>
            </li>
        </ul>
        <hr>
        <div class="d-flex justify-content-between">
            {% if is_granted('ROLE_USER') %}
                <a class="order-3 m-1 btn {{ app.request.attributes.get("_route") == 'app_user_edit' ? 'btn-primary' : 'btn-outline-primary' }} flex-fill"
                   type="button"
                   href="{{ path('app_user_edit') }}">Settings</a>
                <a class="order-3 m-1 btn btn-outline-secondary flex-fill" type="button"
                   href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="order-3 m-1 btn btn-outline-secondary flex-fill" type="button" href="{{ path('app_login') }}">Login</a>
                <a class="order-3 m-1 btn btn-outline-secondary flex-fill" type="button"
                   href="{{ path('app_register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</div>

{% for message in app.flashes('success') %}
    <div class="container">
        <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="container">
        <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endfor %}

{% block body %}
{% endblock %}
</body>
</html>
